.item-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
}

.preview-image {
  width: 300px;
  height: auto;
}

.nav-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 10px;
}

.nav-button:focus {
  outline: none;
}
